:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* para darle tema oscuro
  color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #FCFAF1; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100vh;
  width: 100%;
  min-width: 320px;
  min-height: 320px;
  /* border: 5px dashed blue; */
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* border: 5px dashed red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #eed7b1;
  padding: 3%;
}

form {
  border: 2px solid #7c3600;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #071f36; */
  border-radius: 0.8rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  width: 90vw;
  height: 90vh;
  min-height: 96%;
  justify-content: center;
  gap: 2%;
}

.titulo {
  /* background-color: #cf8e65; */
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 5px dashed red;  */
}

h1 {
  font-size: calc(2.5vh + 2.5vw);
  line-height: 1.1;
  color: #800000;
  -webkit-text-stroke: 0.05rem #212529;
  text-align: center;
  margin: auto;
}

.img {
  width: calc(12vh + 12vw);
  margin: auto;
  /* filter: drop-shadow(1px 1px 1px  #323231); */
}

.input {
  width: 100%;
  font-weight: 400;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  color: #212529;
  background-color: #fff6f1;
  background-clip: padding-box;
  border: 1px solid #435D84;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-size: calc(1vh + 1vw);
  padding-left: 1rem;
}


input:focus {
  outline: none;
}

button:hover {
  border-color: #eee4d4;
}

.input-icono {
  width: 20%;
  height: auto;
  margin: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 4%;
  font-size: calc(1vh + 1vw);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  /* filter: brightness(2); */
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  /* color icono y fondo */
  background-color: #cf8e65;
  border-color: #cf8e65;
  vertical-align: middle;

}

.input-fila {
  /* border: 5px dashed red; */
  display: flex;
  flex-direction: row;
  max-width: 40%;
  max-height: 15%;
  justify-content: center;
  align-content: center;
  column-gap: 0px;
}

.borde-derecho {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.fila>.input {
  flex: 1 0 auto;
}

.borde-redondeado {
  border-radius: 0.375rem;
}

.button{
  width: calc(3.5vh + 3.5vw);
  border-radius: 0.375rem;
  display: block;
  border: 1px solid transparent;
  font-size: calc(1vh + 1vw);
  font-weight: 500;
  font-family: inherit;
  background-color: #435D84;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.icono-login {
  width: calc(0.8vh + 0.8vw);
  cursor: none;
  fill: #322f2f;
}

.center{
  text-align: center;
  font-size : calc(1.5vh + 1.5vw);
  margin-inline: auto;
  line-height: 1.1;
} 

.home{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url(./assets/fondo.jpg) ;
  /* border: 1px solid #071f36; */
  border-radius: 0.8rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  width: 90vw; 
  height: 90vh;
  min-height: 96%; 
  gap:2%;
  background-size: 100% 100%;
}

.navbar{
  --bs-navbar-padding-y: 0.2rem;
  border: 1px solid #0f0f0f;
  display: flex;
  flex-direction: row;
  background-color:#a7bbc2;
  border-color: #0e0e0e;
  width: 100%;
  height: 12%;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  justify-content: flex-start;
  /* padding-inline: auto; */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  /* align-content: center; */
  flex-wrap: wrap;
}

.imagen-barra{
  /* border: 1px solid #1d1c1b; */
  width:  calc(4vh + 3vw);
  margin-left: 5%;
  /* margin-inline: 6%; */
}

.nombre{
  font-size: calc(2vh + 1.9vw);
  line-height: 1.1;
  color: white;
  -webkit-text-stroke:5% #0d0d0e;
  /* margin: 0 0 auto; */
  /* padding-inline: auto; */
 
  font-weight: 700;
}

.boton-lista{
  width:calc(1.9vh + 1.9vw);
  cursor: pointer;
  transition: border-color 0.25s;
  fill: rgb(74, 73, 72);
  filter: drop-shadow(2px 2px 1px  #dbd7cf);
  align-self: flex-end;
  /* margin-inline: 10px; */
  /* border: 1px solid #151514; */
}

.boton-cerrar{
  width:calc(2vh + 2vw);
  cursor: pointer;
  transition: border-color 0.25s;
  fill: #810b07;
  filter: drop-shadow(2px 2px 1px  #dbd7cf);
  margin-right: 5%;
  /* margin-inline-end: 4vw; */
  /* border: 1px solid #151514; */
}

.saludo{
  color: #ceb95d;
  text-align: center;
  margin-inline: auto;
  margin-top: 1%;
  font-size: calc(1.2vh + 1.5vw);
  -webkit-text-stroke:0.05rem #54595e;
}

/* .rol{
  color: #d78c22;
  text-align: center;
  margin-inline: auto;
  font-size: calc(1.2vh + 1.4vw);
  font-weight: 400;
} */

.contenedor{
  display: flex;
  flex-direction: column;
  /* border: 5px dashed rgb(75, 13, 116); */
  width: 100%;
  height: 80%;
  min-height: 74%;
  gap: 1%;
}

.contenedor_recepcionista{
  display: flex;
  flex-direction: column;
  /* border: 5px dashed rgb(23, 172, 110); */
  width: 50%;
  height: 100%;
  min-height: 74%;
  gap: 1%;
}


.col-navbar-1{
  /* border: 10px solid #040404; */
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.col-navbar-2{
  /* border: 10px solid #040404; */
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 3%;
}

.h4{
  font-size:  calc(1vh + 1vw); 
  line-height: 1.1;
  font-weight: 700;
  width: auto;
  margin-bottom: 0rem;
  margin-inline: 1%;
  color:#810b07;
}

.fila{
  width: 100%;
  max-height: 15%;
  padding:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columna-wrap{
  width: auto;
  max-width: 48%;
  min-width: 45%;
  /* height: 100%; */
  /* max-height: 100%; */
  /* border: 5px dashed red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.mesa{
  width:calc(5vh+ 5vw);
  max-height: 100%;
  text-align:center;
  align-self:baseline;
  font-weight: 600;
  font-size:  calc(0.4vh+ 0.5vw);
  max-width: 20%;
  min-width: 10%;
  padding-inline: auto;
  line-height: 1.5;
  color: #212529;
  background-color:#eed7b1;
  background-clip: padding-box;
  border: 1px solid gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

.input-cliente{
  width:calc(5vh+ 5vw);
  max-height: 100%;
  text-align:center;
  align-self:baseline;
  font-weight: 600;
  font-size:  calc(0.4vh+ 0.5vw);
  max-width: 70%;
  min-width: 10%;
  padding-inline: auto;
  color: #212529;
  background-color:#eed7b1;
  background-clip: padding-box;
  border: 1px solid gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

.fila-central{
  width: 100%;
  height: 80%;
  /* min-height: 10%;
  max-height: 15%; */
  padding:auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* border: 5px dashed rgb(179, 26, 171); */
}

.columna{
  width: 98%;
  height: 98%;
  border: 3px solid #7c3600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  border-radius: 4%;
}

.h3{
  font-size:  calc(1.3vh + 1.3vw);
  line-height: 1.1;
  color:#810b07;
  -webkit-text-stroke:0.03rem #413f3d;
  margin-inline: auto;
  padding-inline: auto;
  font-weight: 600;
}

.fila-wrap{
  width: 100%;
  height: 100%;
  /* min-height: 40%;
  max-height: 90%; */
  padding:2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 5px dashed rgb(64, 26, 179); */
  overflow-y: auto;
  overflow-x: auto;
}


.tarjeta{
  width: 43%;
  max-height: 75%;
  margin:1%;
  border: 1px dashed rgb(135, 28, 28);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.h5{
  font-size:  calc(0.9vh + 0.8vw); 
  line-height: 1.1;
  font-weight: 500;
  /* margin: auto; */
  text-align: center;
}

.imagen-menu{
  object-fit: cover;
  width:  calc(3.6vh + 3.6vw);
}

.boton-agregar{
  border-radius: 0.375rem ;
  display: block;
  border: 1px solid rgb(78, 77, 77);
  font-size:  calc(0.6vh + 0.6vw);
  font-weight: 500;
  font-family: inherit;
  background-color: #8b6b44;
  cursor: pointer;
  transition: border-color 0.25s; 
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	text-align: center; 
  width: 70%;
  margin-inline: auto;
  color: white;
  text-shadow:#0f0f0f;
  
}

.add{
  width:calc(0.8vh + 0.8vw);
  cursor: pointer;
  transition: border-color 0.25s;
  fill: #d1c5a8;
  margin: 1%;
}

.lista{
  width: 100%;
  height: 100%;
  min-height: 40%;
  max-height: 90%;
  padding:auto;
  display: flex;
  flex-direction: column;
  /* border: 5px dashed rgb(179, 26, 171); */
}

.ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 5px dashed rgb(179, 26, 115); */
  overflow-y: auto;
  padding-left:0;
  margin-bottom: 0; 
  margin: 1%;
}

.li{
  /* border: 5px dashed rgb(171, 159, 208); */
  font-size:calc(0.6vh + 0.7vw) ;
  list-style: none;
  margin-right: 1%;
  font-weight: 600;
}

.remove{
  width:calc(0.8vh + 0.8vw);
  cursor: pointer;
  transition: border-color 0.25s;
  fill: #b40a04;
  
}

.transparente{
  margin: 0.5%;
  background-color: transparent;
  border-color: transparent;
}

.fila-precio{
  width: 100%;
  min-height: 9%;
  max-height: 19%;
  padding:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 5px dashed rgb(179, 26, 171); */
  align-items: center;
  background-color: #bba074 ;
  align-self: flex-end;
}

.enviar{
  border-radius: 0.375rem ;
  display: flex;
  border: 1px solid transparent;
  font-size:  calc(1vh + 1vw);
  font-weight: 500;
  font-family: inherit;
  background-color:  #810b07;
  cursor: pointer;
  transition: border-color 0.25s; 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	text-align: center; 
  margin: auto;
  color: white;
}

.precio{
  font-size:  calc(1.3vh + 1.3vw);
  line-height: 1.1;
  color:black;
  -webkit-text-stroke:0.03rem #413f3d;
  margin-inline: auto;
  padding-inline: auto;
  font-weight: 600;
}

.lista-pedidos{
  overflow-y: auto;
  border: 3px solid rgb(180, 156, 133);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tarjeta-pedido{
  width: 31%;
  /* height: 10%; */
  /* height: auto; */
  border: 1px dashed rgb(135, 28, 28);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 1%;
  padding: 1%;
}

.tarjeta-pedido-entregado{
  width: 31%;
  /* height: 10%; */
  height: 30%;
  border: 1px dashed rgb(135, 28, 28);
  background-color: white;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 1%;
  padding: 1%;
}

.h5{
  font-size:  calc(0.9vh + 0.8vw); 
  line-height: 1.1;
  font-weight: 500;
  /* margin: auto; */
  text-align: center;
}

.lista-cocinero{
  overflow-y: auto;
  border: 6px solid rgb(180, 156, 133);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.letra-cocinero{
  font-size:  calc(1vh + 1vw);
  line-height: 1.1;
  color: #030303;
  /* margin-inline: auto; */
  font-weight: 500;
  text-align: center;
}

.tarjeta-pedido{
  width: 31%;
  /* height: 10%; */
  /* height: auto; */
  border: 1px dashed rgb(135, 28, 28);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: white;
  margin: 1%;
  padding: 1%;
}

.titulo-pedidos{
  font-size:  calc(1.2vh + 1.2vw); 
  line-height: 1.1;
  font-weight: 500;
  /* margin: auto; */
}

.tarjeta-cocinero{
  width: 31%;
  height: auto;
  border: 1px dashed rgb(135, 28, 28);
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 240, 240);
  /* align-items: center; */
  /* justify-content: center; */
}

.letra-prod{
  font-size:  calc(0.9vh + 0.9vw); 
  line-height: 1.1;
  font-weight: 500;
  /* margin: auto; */
  text-align: center;
}

.letra-estado{
  text-align: center;
  font-size:  calc(1.2vh + 1.2vw);
  line-height: 1.1;
  color: #ae1717;
  /* margin: auto; */
  font-weight: 600;
  /* margin-inline: 2%;
  padding-inline: auto; */
  /* margin-top: 1%; */
}

.boton-cocina{
  border-radius: 0.375rem ;
  display: flex;
  border: 1px solid transparent;
  font-size:  calc(1vh + 1vw);
  font-weight: 500;
  font-family: inherit;
  background-color: #bba074;
  cursor: pointer;
  transition: border-color 0.25s; 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	text-align: center; 
  margin-inline: auto;
}

.t4{
  font-size:  calc(1.3vh + 1.3vw);
  line-height: 1.1;
  color:#2b2a2a;
  -webkit-text-stroke:0.03rem #413f3d;
  margin-inline: auto;
  padding-inline: auto;
  font-weight: 600;
  text-align: center;
}

.t5{
  font-size: calc(0.9vh + 0.9vw);
  line-height: 1.1;
  color:#2b2a2a;
  -webkit-text-stroke:0.03rem #413f3d;
  /* margin-inline: auto; */
  padding-inline: auto;
  font-weight: 600;
}